
html,

body{
    background-color: #e1e1e1;
}

.size-menu{
    height: 10%;
    width: 100%;
    background: #23527c;
    font-size: 11pt;
}

.menu{
    padding-bottom: 10px;
    padding-left: 8px;
    padding-top: 6px;
    padding-right: 15px;

}

#navbar1{
    height: 100px;
    padding: 0%;
    list-style-type: none;
    background: linear-gradient(to bottom, #3e8f3e, #5cb85c);
    border-radius: 10px;
    box-shadow:7px 7px 10px;
    opacity: 0.93;
}

#navbar1::after {
    content: '';
}

#navbar1 li{
    display: inline;
}

.nav-text{
    color: #444444;
    font-style: oblique;
    font-size: 25px;
    font-weight: 700;
    text-shadow:5px 5px 10px;
    margin: 0.75%;
}

#logo{
    color: #1a1a1a;
    margin: 0.75%;
    margin-right:3%;
    margin-left: 1%;
    margin-bottom: 1%;
    height: 10ch;
    border-radius: 10ch;
    box-shadow:4px 4px 7px;
}

#logo:hover{
    transform: scale(1.1);
    transition: scale 1s;
    }

#login{
    float: right;
    margin-right: 20px;
    margin-top: 24px;
    border-radius: 7px;
    height: 45px;
    width: 100px;
    background-color: #f0ad4e;
    border: 2px solid #c67605;
    box-shadow:5px 5px 7px;

}

#login:hover{
    transition: 0.17s;
    border: 4px solid #c67605;
    height: 47px;
    width: 102px;
    margin-top: 22px;
    margin-right: 18px;
}

.nav-text:hover{
    transition: 0.3s;
    opacity: 0.7;
    text-decoration: none;
    color: #444444;
}

#active a:hover{
    opacity: 0.65;
}

#active a{
    opacity: 0.5;
    color:#0000aa;
}

@media screen and (max-width: 817px) {

    #navbar1 * {
        font-size: 16px;
    }

    #navbar1{
        position: relative;
        height: 92px;
        padding: 4px;
    }

    #navbar1::after {
        content: '';
    }

    #logo{
        height: 8ch;
    }

    #login{
        height: 30px;
        width: 90px;
        border: 1px solid #c67605;
    }

    #login:hover{
        height: 30px;
        width: 90px;
    }

    #login:hover{
        border: 2px solid #c67605;
    }

}

@media screen and (max-width: 613px) {

    #navbar1 {
        position: relative;
        background: linear-gradient(to bottom, #3e8f3e, #5cb85c);
        padding-top: 40px;
        width: 100%;
        height: 40px;
        overflow: hidden;
        transition: all 1s;
    }
    #navbar1::after {
        line-height: 40px;
        content: '≡';
        color: #fff;
        opacity: 0.7;
        font-size: 40px;
        font-weight: bolder;
        position: absolute;
        font-family: "Glyphicons Halflings";
        top: -3px;
        left: 10px;

    }

    #navbar1[open='true']::after{
        color: #666;
        opacity: 0.7;
    }

    #navbar1[open='true'] {
        width: 100%;
        height: 257px;
    }


    #login{
        float: left;
        margin-left: 1px ;
    }

    #navbar1>li:first-child{
        display: none;
    }

    #navbar1:hover>li {
        height: auto;
        min-height: 40px;
        font-size: 24px;
        margin-left: 10px;
    }

    #navbar1>li {
        display: inline-block;
        height: 0;
        width: 100%;
        overflow: hidden;
    }

    .nav-text:hover{
        opacity: 0.5;
    }

}